{% extends "base.html" %}

{% from "form_helpers.html" import quick_form, flashed_messages%}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    {{ flashed_messages() }}
                    {{ quick_form(form, action=url_for('auth.login')) }}
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for('auth.register') }}">Don't have an account? Register</a>
                    <br>
                    <a href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
