<!-- filepath: /home/pouria/projects/github/client-ease/app/templates/project/create_project.html -->
{% extends "base.html" %}

{% from "form_helpers.html" import quick_form, flashed_messages %}

{% block title %}
{{ "Edit Project" if project else "Create Project" }} - Client Ease
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>{{ "Edit Project" if project else "Create a New Project" }}</h2>
  {{ flashed_messages() }}
  {{ quick_form(form, action=url_for('project.edit_project', prj_id=project.id) if project else url_for('project.create_project'), method="POST") }}
</div>
{% endblock %}
</div></div>